<nav class="navbar navbar-default navbar-fixed-top cl-blue-navbar">
  <div class="container-fluid">
    <a class="cl-text-white navbar-brand cl-text-bold">
      Cafe
    </a>
  </div>
</nav>

<div class="container" style="margin-top: 100px;">
  <a>Name: {{ name }}</a>
  <a>Address: {{ address }}</a>
  <a>Open Hour: {{ openHour}}</a>
  <a ng-repeat="t in {{ menus.length }}">
    {{ menus[t].name }}
  </a>
  <a ng-repeat="t in {{ reviews.length }}">
    {{ reviews[t].user }}
  </a>
  <!--
  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input [(ngModel)]="firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
  </div>
  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input [(ngModel)]="lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="hello@gmail.com">
  </div>

  <a class="btn btn-info btn-block" (click)="updateUser(user)">Update</a>
  <a class="btn btn-primary btn-block"
     routerLink="/user/{{userId}}/website">Websites</a>
  <a class="btn btn-danger  btn-block" (click)="logout()">Logout</a>
  <a class="btn btn-danger btn-block "
     (click)= "deleteUser()">un-register</a> -->
</div>


<nav class="navbar navbar-fixed-bottom cl-blue-navbar">
</nav>
