.footer {
  margin-top: 20px;
}

.main {
  margin-top: 50px;
}

.add-cafe {
  border-color: #a5668b;
  color: #a5668b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  font-size: 2em;
  margin-top: 40px;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 40px;
}

.add-cafe:hover {
  background: #a5668b;
  color: white;
}
