<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">YelpCafe</a>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login/Register<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li (click)="logout()"><a routerLink="">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
